#generic files/directories to ignore
Win32/
x64/
ipch/
*.opensdf
*.sdf
*.aps
*.suo
Scylla.vcxproj.user

#tinyxml ignore + exceptions
tinyxml/*
!tinyxml/README
!tinyxml/tinyxml.vcxproj*

#WTL ignore + exceptions
WTL/*
!WTL/README