#generic files/directories to ignore
Win32/
x64/
*.opensdf
*.sdf
*.aps
*.suo
Scylla.vcxproj.user

#diStorm ignore + exceptions
diStorm/*
!diStorm/README
!diStorm/diStorm.vcxproj*

#tinyxml ignore + exceptions
tinyxml/*
!tinyxml/README
!tinyxml/tinyxml.vcxproj*

#WTL ignore + exceptions
WTL/*
!WTL/README